/*
* @Author: Rosen
* @Date:   2017-05-23 19:52:21
* @Last Modified by:   Rosen
* @Last Modified time: 2017-05-23 23:06:26
*/
.form-line{
    margin-bottom: 10px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
}
.form-line .label{
    display: inline-block;
    width: 60px;
    text-align: center;
}
.form-line .input{
    height: 25px;
    line-height: 25px;
    width: 200px;
    font-size: 14px;
}